name: CI

on: [push, pull_request]

jobs:
  test:
    name: Alpine Runner
    runs-on: ubuntu-latest
    container: alpine:3.16
    steps:
      - uses: actions/checkout@v3
      - name: Speak!
        run: echo Hello World
      - name: Write!
        run: echo Hi > foo.txt
      - name: Save!
        uses: actions/upload-artifact@v3
        with:
          path: foo.txt